alembic==1.7.6
click==8.0.4
dataclasses==0.8
dataclasses-json==0.5.6
Flask==2.2.5
Flask-Migrate==3.1.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.0
greenlet==1.1.2
gunicorn==22.0.0
importlib-metadata==4.8.3
importlib-resources==5.4.0
itsdangerous==2.0.1
Jinja2==3.0.3
Mako==1.1.6
MarkupSafe==2.0.1
marshmallow==3.14.1
marshmallow-enum==1.5.1
mypy-extensions==0.4.3
python-dateutil==2.8.2
python-editor==1.0.4
six==1.16.0
SQLAlchemy==1.4.31
typing-inspect==0.7.1
typing_extensions==4.1.1
Werkzeug==2.0.3
WTForms==3.0.0
zipp==3.6.0
